<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Matt and Henry's To-Do List</h1>

<%= yield %>


<script type="text/javascript">

  // Tried to use jQuery to hide task, but reload will show everything again.
  	
	// function hideRow() {
	//     $("#myRow").closest("tr").hide();
	// }

</script>
</body>
</html>
